<div class = "container">
<div class="list-group">
  <% @products.each do |product|%>
  <div href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%=product.name %></h5>
      <h5 class="mb-1"><%=product.price %></h5>
    </div>
    <p class="mb-1"><%= link_to 'Edit', edit_product_path(product), :class => "btn" %> |
      <%= link_to 'Back', products_path, :class => "btn"%></p>
    <small>Donec id elit non mi porta.</small>
  </div>
  <% end %>
</div>
<div >
  <%= link_to 'Create', new_product_path(@product), remote: true,:class => "btn btn-primary" %>
</div>
</div>
